body{
    /* font-family: Impact; */
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Besley', serif; */
    /* font-family: 'Roboto Condensed', sans-serif; */
    /* font-family: Helvetica, sans-serif; */
    background-color: white;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Merriweather Sans', sans-serif;
}
::selection{
  background-color: rgb(37, 37, 37);
  color: white;
}
a, a:link, a:visited, a:active, a:hover {
  text-decoration:none;
  color:#FFFFFF;
}
.backcolor{
  color: black;
}
.backcolor:hover{
  background-color: black;
  color: white;
}
.dpnav{
    background-color: transparent;
    margin: 1em auto 0 auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    /* text-transform: uppercase; */
}
.navbar-brand{
    font-family: Impact;
    font-size: 3vw;
}
.dpmenu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.nav-link{
    text-decoration: none !important;
    /* color: rgb(255, 255, 255, 1) !important; */
    /* color: rgb(0, 0, 0, 1) !important; */
    text-align: right;
    padding: 0 1vw;
}
.dprrss{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
.dprrss>li>.nav-link{
    padding: 0 0.75vw;
}
.nav-link>i{
    color: rgb(0, 0, 0, 1) !important;
    font-size: 1vw;
}
.contact{
  color: black !important;
}
.active, .active>i{
    color: white !important;
    background-color: black;
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
}
#expulsion{
  background-color: transparent;
  height: 0px;
  border-color: transparent;
}
.dropdown-item {
  display: block;
  width: auto;
  padding: 0.25rem 0 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: white !important;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: rgb(37, 37, 37) !important;
  text-decoration: none;
  background-color: #f8f9fa;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff !important;
  text-decoration: none;
  background-color: rgb(37, 37, 37);
}
.dropdown-menu{
  border: none;
  border-radius: 0;
  background-color: rgb(105, 105, 105);
  width: 50% !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.dropdown-item-text {
  display: block;
  padding: 0.25rem 1rem;
  color: #212529;
}
.shows{
  color: white !important;
}
.imgmodal{
  border: none;
  background-color: transparent;
  width: 100%;
  height: 20vh;
}
.imgmodal>img{
  object-fit: cover;
}
/* GLITCH */
.efecto-glitch {
    /*propiedades para hacer el efecto "responsivo"*/
    width: 100%;
    max-width: 500px;
    min-width: 50%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    /*Propiedades background css3 para que el fondo sea "responsivo"*/
    background: url(../assets/navTitle/1.png);
    background-repeat: no-repeat;
    background-size: contain;
    /*Propiedad Animacion CSS*/
    -webkit-animation:
      /*Dos grupos de animaciones*/
      glitch 7s cubic-bezier(0.5, 0.2, 0.3, 1.0) infinite,
      glitchMotion 7s cubic-bezier(0.5, 0.2, 0.3, 1.0) infinite;
    animation:
      /*Dos grupos de animaciones*/
      glitch 7s cubic-bezier(0.5, 0.2, 0.3, 1.0) infinite,
      glitchMotion 7s cubic-bezier(0.5, 0.2, 0.3, 1.0) infinite;
  }
  .efecto-glitch img {
    /*la imagen oculta es la que otorga una altura proporcional al div*/
    width: 100%;
    height: auto;
    vertical-align: middle;
    opacity: 0;
    padding: 2em;
  }
  @-webkit-keyframes glitch {
    
    /*Nosotros especificamos el intervalo de tiempo en el que queremos que las imagenes de fondo cambien.*/
    
    0% {
      background: url(../assets/navTitle/1.png) no-repeat;
      background-size: contain;
    }
    1.5% {
      background: url(../assets/navTitle/7.png) no-repeat;
      background-size: contain;
    }
    1.6% {
      background: url(../assets/navTitle/4.png) no-repeat;
      background-size: contain; 
    }
    1.7%{
      background: url(../assets/navTitle/6.png) no-repeat;
      background-size: contain;
    }
    1.8% {
      background: url(../assets/navTitle/10.png) no-repeat;
      background-size: contain;
    }
    1.9% {
      background: url(../assets/navTitle/7.png) no-repeat;
      background-size: contain;
    }
    2%{
      background: url(../assets/navTitle/4.png) no-repeat;
      background-size: contain;
    }
    2.3%{
      background: url(../assets/navTitle/6.png) no-repeat;
      background-size: contain;
    }
    2.5%{
      background: url(../assets/navTitle/7.png) no-repeat;
      background-size: contain;
    }
    3%{
      background: url(../assets/navTitle/10.png) no-repeat;
      background-size: contain;
    }
    5%{
      background: url(../assets/navTitle/5.png) no-repeat;
      background-size: contain;
    }
  
  
    7.6% {
      background: url(../assets/navTitle/1.png) no-repeat;
      background-size: contain; 
    }
    7.7%{
      background: url(../assets/navTitle/7.png) no-repeat;
      background-size: contain;
    }
    7.8% {
      background: url(../assets/navTitle/10.png) no-repeat;
      background-size: contain;
    }
    7.9% {
      background: url(../assets/navTitle/4.png) no-repeat;
      background-size: contain;
    }
    8%{
      background: url(../assets/navTitle/7.png) no-repeat;
      background-size: contain;
    }
    8.3%{
      background: url(../assets/navTitle/5.png) no-repeat;
      background-size: contain;
    }
    8.5%{
      background: url(../assets/navTitle/1.png) no-repeat;
      background-size: contain;
    }
  
  
  
    14.9% {
      background: url(../assets/navTitle/1.png) no-repeat;
      background-size: contain;
    }
    15.5%{
      background: url(../assets/navTitle/7.png) no-repeat;
      background-size: contain;
    }
    15.7% {
      background: url(../assets/navTitle/1.png) no-repeat;
      background-size: contain;
    }
  
  
  
    40.9% {
      background: url(../assets/navTitle/1.png) no-repeat;
      background-size: contain;
    }
    41.5%{
      background: url(../assets/navTitle/4.png) no-repeat;
      background-size: contain;
    }
    42% {
      background: url(../assets/navTitle/1.png) no-repeat;
      background-size: contain;
    }
  
    70.9% {
      background: url(../assets/navTitle/1.png) no-repeat;
      background-size: contain;
    }
    71.5%{
      background: url(../assets/navTitle/6.png) no-repeat;
      background-size: contain;
    }
    71.8%{
      background: url(../assets/navTitle/7.png) no-repeat;
      background-size: contain;
    }
    72% {
      background: url(../assets/navTitle/1.png) no-repeat;
      background-size: contain;
    }
  
  
  }
  @keyframes glitch {
    
    /*Nosotros especificamos el intervalo de tiempo en el que queremos que las imagenes de fondo cambien.*/
    
    0% {
      background: url(../assets/navTitle/1.png) no-repeat;
      background-size: contain;
    }
    1.5% {
      background: url(../assets/navTitle/7.png) no-repeat;
      background-size: contain;
    }
    1.6% {
      background: url(../assets/navTitle/4.png) no-repeat;
      background-size: contain; 
    }
    1.7%{
      background: url(../assets/navTitle/6.png) no-repeat;
      background-size: contain;
    }
    1.8% {
      background: url(../assets/navTitle/10.png) no-repeat;
      background-size: contain;
    }
    1.9% {
      background: url(../assets/navTitle/7.png) no-repeat;
      background-size: contain;
    }
    2%{
      background: url(../assets/navTitle/4.png) no-repeat;
      background-size: contain;
    }
    2.3%{
      background: url(../assets/navTitle/6.png) no-repeat;
      background-size: contain;
    }
    2.5%{
      background: url(../assets/navTitle/7.png) no-repeat;
      background-size: contain;
    }
    3%{
      background: url(../assets/navTitle/10.png) no-repeat;
      background-size: contain;
    }
    5%{
      background: url(../assets/navTitle/5.png) no-repeat;
      background-size: contain;
    }
  
  
    7.6% {
      background: url(../assets/navTitle/1.png) no-repeat;
      background-size: contain; 
    }
    7.7%{
      background: url(../assets/navTitle/7.png) no-repeat;
      background-size: contain;
    }
    7.8% {
      background: url(../assets/navTitle/10.png) no-repeat;
      background-size: contain;
    }
    7.9% {
      background: url(../assets/navTitle/4.png) no-repeat;
      background-size: contain;
    }
    8%{
      background: url(../assets/navTitle/7.png) no-repeat;
      background-size: contain;
    }
    8.3%{
      background: url(../assets/navTitle/5.png) no-repeat;
      background-size: contain;
    }
    8.5%{
      background: url(../assets/navTitle/1.png) no-repeat;
      background-size: contain;
    }
  
  
  
    14.9% {
      background: url(../assets/navTitle/1.png) no-repeat;
      background-size: contain;
    }
    15.5%{
      background: url(../assets/navTitle/7.png) no-repeat;
      background-size: contain;
    }
    15.7% {
      background: url(../assets/navTitle/1.png) no-repeat;
      background-size: contain;
    }
  
  
  
    40.9% {
      background: url(../assets/navTitle/1.png) no-repeat;
      background-size: contain;
    }
    41.5%{
      background: url(../assets/navTitle/4.png) no-repeat;
      background-size: contain;
    }
    42% {
      background: url(../assets/navTitle/1.png) no-repeat;
      background-size: contain;
    }
  
    70.9% {
      background: url(../assets/navTitle/1.png) no-repeat;
      background-size: contain;
    }
    71.5%{
      background: url(../assets/navTitle/6.png) no-repeat;
      background-size: contain;
    }
    71.8%{
      background: url(../assets/navTitle/7.png) no-repeat;
      background-size: contain;
    }
    72% {
      background: url(../assets/navTitle/1.png) no-repeat;
      background-size: contain;
    }
  
  
  }
  @-webkit-keyframes glitchMotion {
  
    /*Una segunda animacion para crear el efecto de movimiento, tambien puede ir dentro de la primera animacion pero preferi hacerlas por separado*/
  
    7% {
      transform: translateX(0);
    }
    7.5% {
      transform: translateX(0) translateY(5px);
    }
    7.9% {
      transform: translateX(0) translateY(0);
    }
  
    40% {
      transform: translateX(0);
    }
    40.5% {
      transform: translateX(-12px) translateY(0);
    }
    40.9% {
      transform: translateX(0) translateY(0);
    }
  
    70% {
      transform: translateX(0);
    }
    70.5% {
      transform: translateX(5px) translateY(0);
    }
    70.9% {
      transform: translateX(0) translateY(0);
    }
  
  }
  @keyframes glitchMotion {
  
    /*Una segunda animacion para crear el efecto de movimiento, tambien puede ir dentro de la primera animacion pero preferi hacerlas por separado*/
  
    7% {
      transform: translateX(0);
    }
    7.5% {
      transform: translateX(0) translateY(5px);
    }
    7.9% {
      transform: translateX(0) translateY(0);
    }
  
    40% {
      transform: translateX(0);
    }
    40.5% {
      transform: translateX(-12px) translateY(0);
    }
    40.9% {
      transform: translateX(0) translateY(0);
    }
  
    70% {
      transform: translateX(0);
    }
    70.5% {
      transform: translateX(5px) translateY(0);
    }
    70.9% {
      transform: translateX(0) translateY(0);
    }
  
  }
  
  




/* Main */
.main-text{
  font-weight: 300;
  font-size: 1em;
}
.imgbio{
  /* box-shadow: rgba(7, 67, 59, 0.35) 0px 5px 15px; */
  margin-bottom: 0;
  height: auto;
}
.btn-links{
  color: rgb(44, 182, 163);
  background-color: transparent;
  border: 1px solid rgb(44, 182, 163);
  margin: 3em auto;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  text-decoration: underline;
  width: 50%;
}
/* TABLES */
.table{
  font-family:'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 0.9em;
  width: 100%;
  margin: auto;
}
.table td {
  padding: 0.25rem;
  border-top: 0.5px solid #dee2e6;
}
.sin-lineas{
  font-size: 1em;
}
tr:last-child{
  border-bottom: 0.5px solid #dee2e6;
}
.ttpress{
  background-color: black;
}
.separador{
  border-bottom: 1px solid grey !important;
}



/* MOBILE */
@media (max-width:648px) {
  .dpnav{
    margin: 1em auto auto auto;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.1);
    }
    .navbar-brand{
        margin: 0;
    }
    .titleNav{
        height: 5vh;
        object-fit: cover;
        object-position: center center;
    }
    .navbar-toggler{
        width: auto;
        margin-right: 0;
        margin-left: 1em;
        padding: 0;
    }
    .nav-link{
        text-decoration: none !important;
        /* color: rgb(255, 255, 255, 1) !important; */
        color: rgb(0, 0, 0, 1) !important;
        text-align: right;
        padding: 0 1vw;
    }
    .dropdown-item {
      display: block;
      width: auto;
      padding: 0 0.5rem 0 0;
      clear: both;
      font-weight: 400;
      color: white !important;
      text-align: right;
      white-space: nowrap;
      background-color: transparent;
      border: 0;
    }
    .dropdown-item:hover, .dropdown-item:focus {
      color: rgb(37, 37, 37) !important;
      text-decoration: none;
      background-color: #f8f9fa;
    }
    .dropdown-item.active, .dropdown-item:active {
      color: #fff !important;
      text-decoration: none;
      background-color: rgb(37, 37, 37);
    }
    .dropdown-menu{
      border: none;
      border-radius: 0;
      background-color: rgb(105, 105, 105);
      width: 50% !important;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
    }
    .dropdown-item-text {
      display: block;
      padding: 0.25rem 1rem;
      color: #212529;
    }
    .shows{
      color: white !important;
    }
    .dprrss{
        display: flex;
        list-style: none;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
    }
    .dprrss>li>.nav-link{
        padding: 0 0.75vw;
    }
    .nav-link>i{
        color: rgb(255, 255, 255, 1);
        font-size: 2.5vh;
        margin-right: 3vh;
    }
    .efecto-glitch {
      width: 80%;
      margin-right: auto;
    }
    .efecto-glitch img {
      padding: 0;
    }
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
      padding: 0;
    }
    .main-text{
      margin-top: 1rem;
    }
    .disabled{
      color: white !important;
      background-color: black;
    }
    .mobil{
      margin: 0;
    }
    .sin-lineas{
      font-size: 0.8em;
    }
    .contact{
      color: black;
    }
    .imgcontact{
      margin-top: 2em;
    }
}